<?xml version = "1.0" encoding = "UTF-8"?>
 
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
<bean id="res1" class="com.hexa.Result">
<property name="Marks" value="100"/>
<property name="Remarks" value="Pass"/>
</bean>


<bean id="stud1" class="com.hexa.Student">
<property name="Roll" value="101" />
<property name="Name" value="Ajay" />
<property name="Fee" value="200" />
<property name="res" ref="res1"/>


</bean>




 
</beans>